<!-- /// -->

<div class="grid-container">
    <div class="Titulo">
        <h3 class="text-center">
            {{titulo}}
        </h3>
    </div>
    <div class="Cuerpo">
        <div class="area-overlap-Lista">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Product
                                    </th>
                                    <th>
                                        Payment Taken
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        TB - Monthly
                                    </td>
                                    <td>
                                        01/04/2012
                                    </td>
                                    <td>
                                        Default
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="Formulario-entrada">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">

                                <label for="tareaInput">
                          Tarea:
                        </label>
                                <input type="email" class="form-control" id="tareaInput" />
                            </div>
                            <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>