<!-- /// -->

<div class="grid-container">
    <div class="Titulo">
        <h3 class="text-center">
            {{titulo}}
        </h3>
    </div>
    <div class="Cuerpo">
        <div class="area-overlap-Lista">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Tarea
                                    </th>
                                    <th>
                                        Realizada
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tarea of tareas; let i=index">
                                    <td>
                                        {{i}}
                                    </td>
                                    <td>
                                        {{tarea.textoTarea}}
                                    </td>
                                    <td *ngIf="!tarea.realizada">
                                        <button (click)="Rea_tarea(tarea._id)">Realizar</button>
                                    </td>
                                    <td *ngIf="tarea.realizada">
                                        Tarea realizada
                                    </td>
                                    <td>
                                        <button (click)="Eliminar_tarea(tarea._id)">Eliminar tarea</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="Formulario-entrada">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group">

                                <label for="tareaInput">
                          Tarea:
                        </label>
                                <input type="email" class="form-control" id="tareaInput" [(ngModel)]="textoTarea" name="textoTarea" />
                            </div>
                            <button type="submit" (click)="Crear_mensaje()" class="btn btn-primary">
                        Submit
                      </button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>